

.provider-section{
  width:90%;
  margin:30px auto;
  background:white;
  padding:25px;
  border-radius:20px;
  box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.provider-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
  margin-top:20px;
}
