
.maintenance-card{

display:flex;

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,.08);

margin-bottom:30px;

}

.maintenance-image{

position:relative;

width:300px;

}

.maintenance-image img{

width:100%;

height:100%;

object-fit:cover;

}

.repair{

position:absolute;

top:15px;

left:15px;

background:#e53935;

color:white;

padding:8px 16px;

border-radius:20px;

}

.maintenance-content{

padding:25px;

display:flex;

flex-direction:column;

gap:12px;

}

.maintenance-content h4{

color:#d32f2f;

margin-top:10px;

}