

.generators-page{

    width:90%;

    margin:auto;

    direction:rtl;

}

.page-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin:50px 0 30px;

}

.page-header h1{

    color:#0B1C30;

    font-size:48px;

    margin-bottom:10px;

}

.page-header p{

    color:#666;

}

.compare-btn{

    width:130px;

    height:60px;

    border:none;

    border-radius:18px;

    background:#FEA619;

    color:#00288E;

    font-size:22px;

    cursor:pointer;

}

.generators-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:30px;

    margin-top:40px;

}