.review-summary{

background:#fff;

border-radius:18px;

padding:40px;

box-shadow:0 5px 18px rgba(0,0,0,.06);

display:flex;

justify-content:center;

align-items:center;

min-height:220px;

}

.summary-score{

text-align:center;

}

.summary-score h1{

font-size:70px;

color:#00328F;

margin-bottom:10px;

}

.summary-stars{

font-size:28px;

color:#F4B400;

letter-spacing:5px;

margin-bottom:10px;

}

.summary-score p{

color:#777;

font-size:16px;

}
