.current-card{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:20px;

border-radius:18px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

margin-bottom:18px;

transition:.3s;

}

.current-card:hover{

transform:translateY(-3px);

}

.current-info{

display:flex;

align-items:center;

gap:18px;

}

.avatar{

width:58px;

height:58px;

border-radius:50%;

background:#0D47A1;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

font-weight:bold;

}

.current-info h3{

margin:0;

font-size:20px;

color:#222;

}

.current-info p{

margin:6px 0;

color:#777;

}

.current-info span{

color:#999;

font-size:14px;

}

.delete-btn{

display:flex;

align-items:center;

gap:8px;

padding:12px 18px;

border:none;

border-radius:10px;

background:#FEE2E2;

color:#DC2626;

cursor:pointer;

font-weight:600;

transition:.3s;

}

.delete-btn:hover{

background:#DC2626;

color:white;

}
