.provider-ads-page{

width:90%;

margin:40px auto;

min-height:70vh;

}

.ads-content{

display:flex;

gap:25px;

align-items:flex-start;

margin-top:30px;

}

@media(max-width:992px){

.ads-content{

flex-direction:column;

}

.market-stats{

flex-direction:column;

}

}