.generator-settings{

background:white;

padding:25px;

border-radius:18px;

display:flex;

flex-direction:column;

gap:20px;

box-shadow:0 5px 18px rgba(0,0,0,.05);

}

.generator-settings label{

font-weight:600;

}

.generator-settings input{

padding:12px;

border:1px solid #ddd;

border-radius:10px;

font-size:16px;

}

.generator-settings button{

padding:14px;

border:none;

border-radius:10px;

background:#0D47A1;

color:white;

cursor:pointer;

font-size:16px;

}

