body {
  margin: 0;
  font-family: "Noto Sans Arabic", sans-serif;
  background: #ffffff;
}

/* Page */
.otp-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
     border-radius: 24px;
    background-color: #F8F9FF;
}

/* Navbar */

/* Center */
.otp-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.otp-card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}
.otp-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.12);
}
.icon {
  font-size: 28px;
  margin-bottom: 10px;
  color: #0a3d91;
}

.otp-card h2 {
  margin: 10px 0;
  font-size: 18px;
}

.otp-card p {
  font-size: 13px;
  color: #666;
}

/* OTP Inputs */
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.otp-inputs input {
  width: 40px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.otp-inputs input:focus {
  border-color: #0a3d91;
}

/* Button */
.verify-btn {
  width: 100%;
  padding: 10px;
  background: #0a3d91;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

/* Resend */
.resend {
  margin-top: 15px;
  font-size: 12px;
  color: #666;
}

.resend a {
  color: #0a3d91;
  text-decoration: none;
  display: block;
  margin-top: 5px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 15px;
  font-size: 12px;
  color: #777;
}
.otp-inputs input {
  width: 45px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
}

.otp-inputs input:focus {
  border-color: #0a3d91;
  transform: scale(1.05);
}
.link a {
  text-decoration: none;
  color: #00288E;
  font-size: 10px;
}
.p2{
    color: #444653;
    font-size: 16px;
}
.p2 a{
    color: #00288E;
     text-decoration: none; 
}