
.generator-status-card{

display:flex;

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,.08);

margin-bottom:25px;

}

.generator-image{

position:relative;

width:300px;

}

.generator-image img{

width:100%;

height:100%;

object-fit:cover;

}

.status{

position:absolute;

top:15px;

left:15px;

padding:8px 15px;

border-radius:20px;

color:white;

font-size:14px;

}

.active{

background:#24c26b;

}

.generator-info{

flex:1;

padding:25px;

display:flex;

flex-direction:column;

gap:15px;

}

.generator-header{

display:flex;

justify-content:space-between;

align-items:center;

}

.progress{

height:10px;

background:#eee;

border-radius:20px;

overflow:hidden;

}

.progress-fill{

width:78%;

height:100%;

background:#0D47A1;

}

