
.generator-item{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:20px;

margin-bottom:18px;

border-radius:18px;

box-shadow:0 5px 15px rgba(0,0,0,.06);

transition:.3s;

}

.generator-item:hover{

transform:translateY(-3px);

}

.generator-item-left{

display:flex;

align-items:center;

gap:18px;

}

.generator-icon{

width:55px;

height:55px;

border-radius:12px;

background:#EEF4FF;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

}

.generator-item-left h3{

margin:0;

font-size:20px;

}

.generator-item-left span{

color:#777;

font-size:14px;

}

.generator-middle{

font-weight:600;

color:#444;

}

.generator-right{

display:flex;

align-items:center;

gap:18px;

}

.price{

background:#EEF4FF;

padding:8px 18px;

border-radius:10px;

font-weight:600;

color:#0D47A1;

}

.status{

background:#CFF7DC;

color:#1E8E3E;

padding:8px 18px;

border-radius:25px;

font-size:14px;

font-weight:600;

}