body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Sans Arabic", sans-serif;
  background: #ffffff;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 110px 0 40px;
}

.footer-container {
  width: 946px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse; 
  align-items: center;

}

.copyright {
 margin-left: 20px;
  font-size: 14px;
  color: #444653;
  white-space: nowrap;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  font-size: 14px;
  color: #444653;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links li:hover {
  color: #1E3A8A;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}


.footer-logo img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.footer-logo span {
  font-size: 28px;
  font-weight: 700;
  color: #0f4ab8;
}