.pending-card{
    display:flex;
    align-items:center;
    justify-content:space-between;

    background:white;
    padding:18px;
    border-radius:16px;

    box-shadow:0 5px 15px rgba(0,0,0,.05);
    margin-bottom:15px;
}

.avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#0D47A1;
    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:bold;
    font-size:20px;
}

.info{
    flex:1;
    margin-right:15px;
    text-align:right;
}

.info h3{
    margin:0;
    font-size:18px;
}

.info p{
    margin:4px 0;
    color:#666;
}

.info span{
    font-size:13px;
    color:#999;
}

.actions{
    display:flex;
    gap:10px;
}

.accept{
    background:#16a34a;
    border:none;
    color:white;
    width:38px;
    height:38px;
    border-radius:10px;
    cursor:pointer;
}

.reject{
    background:#ef4444;
    border:none;
    color:white;
    width:38px;
    height:38px;
    border-radius:10px;
    cursor:pointer;
}

