.welcome{
    width:90%;
    margin:40px auto;
    text-align:right;
}

.welcome-title{
    color:#00288E;
    font-size:32px;
    margin-bottom:15px;
}

.welcome-description{
    color:#666;
    line-height:1.8;
}